page-about {
    caption {
        padding: 10px;
        font-weight: bold;
        font-size: 2em;
        color: #303030;
        border: 1px solid #ffffff;
    }

    table#regular {
        border: 1px solid #ffffff;
        border-spacing: 0px;
        width: 100%;
    }

    td {
        border: 1px solid #ffffff;
        padding: 10px;
    }

    td.pet {
        font-weight: bold;
        font-size: 1.3em;
        color: #ffffff;
        background-color: #0092CE;
    }

    td.esquerda {
        color: #ffffff;
        background-color: #33A7D8;
        vertical-align: top;
        text-align: right;
        font-weight: bold;
    }

    td.direita {
        background-color: #85CAE7;
        color: #ffffff;
    }
}
