page-intro {
    
    page-intro * {
        font-style: initial;
    }
    
    .css {      
        text-align: center;
        background-image: url('../assets/imgs/fundo.png')  
    }

    .error {
        color: #ff0000;
        font-size: 12px;
    }

    .scroll-content {
        margin-bottom: 0px !important;
        padding-bottom: 0px !important;
    }

    .campo {
        margin: 20px auto 20px auto;
    }

    .nome-button {
        width: 90%;
        margin: 20px auto 20px auto;
        color: blue;
    }   
    
    div#interface {
        height: 50%;
        width: 100%;
        //border: 1px solid black;
    }

    div#info {
        border-radius: 10px;
        display: block;
        position: relative;
        top: auto;
        margin: auto;
        padding: auto;
        background-color: #ffffff;
        box-shadow: auto #dbdbdb;
        height: auto;
        width: 70%;
    }
    
    div#info > p{
       font-style: 'Courier New', Courier, monospace;
       text-align: center;
    }

    div#info > img{
        border-radius: 13px;
    }

    div#interface > button{
        left: 300px;
        right: 300px;
        top: 610px;
        bottom: 610px;
        position: absolute;
        content: "";
    }

}